<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head th:include="fragments/base :: headerFragment">
  <title id="pageTitle" th:inline="text">[[#{bankid.msg.title}]]</title>
</head>
<body>

  <div th:replace="fragments/header :: logotype"></div>
  
  <div class="container main">

    <div th:replace="fragments/header :: language(languages = ${languages}, path='/')"></div>
    
    <div class="row" id="mainDiv">
      <div class="col-sm-12 content-container">

        <div class="row">
          <div class="col-sm-12 content-heading">
            <h2 th:text="#{bankid.msg.heading}">Heading</h2>
          </div>
          <div class="col-sm-12">
            <p class="info">
              <span th:text="#{bankid.msg.intro.1}">Intro 1</span> <a href="https://github.com/litsec/bankid-api" target="_blank">github.com/litsec/bankid-api</a> 
            </p>
            <p class="info">
              <span th:text="#{bankid.not-ready}">Not ready yet</span>. 
            </p>                        
          </div>
        </div>
        
        <hr class="full-width">
        
        <div class="row section" id="submitDiv">
          <div class="col-12">
            <div class="select-area">
              <p th:text="#{bankid.msg.auth-using}">Authenticate using:</p>
              <form method="POST" action="#" th:action="@{/auth}">
                <button id="thisDeviceButton" type="submit" class="btn btn-primary" name="action" value="thisDevice">
                  <span th:text="#{bankid.button.this-device}">This device</span>
                </button>
                <button id="otherDeviceButton" type="submit" class="btn btn-primary" name="action" value="otherDevice">
                  <span th:text="#{bankid.button.other-device}">Other device</span>
                </button>
                <input type="hidden" name="debug" th:value="${debug}" />
              </form>
            </div>
          </div>
        </div> <!-- /#submitDiv -->        
                
      </div> <!-- /.col-sm-12 content-container -->
      
      <div th:replace="fragments/footer :: copyright"></div>      
      
    </div> <!-- /#mainDiv -->

  </div> <!-- /.container main -->

  <th:block th:include="fragments/base :: scriptFragment"></th:block>
  
</body>
</html>